Frontend/Connected Services/CurrencyService/CurrencyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCurrencyRead">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CurrencyRead" nillable="true" type="tns:CurrencyRead" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCurrencyRead" nillable="true" type="tns:ArrayOfCurrencyRead" />
  <xs:complexType name="CurrencyRead">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrencyRead" nillable="true" type="tns:CurrencyRead" />
  <xs:complexType name="CurrencyCreate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrencyCreate" nillable="true" type="tns:CurrencyCreate" />
  <xs:complexType name="CurrencyUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrencyUpdate" nillable="true" type="tns:CurrencyUpdate" />
</xs:schema>